<div class="container py-5">
    <h1 class="text-center">Welcome To Your Digital Bank !</h1>
    <div class="row py-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Newsletter</h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Temporibus officia tempora unde atque nemo! Deserunt dolores ullam
                    ad, veniam unde, sunt cum adipisci laboriosam temporibus corporis, 
                    blanditiis at ratione nisi.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Temporibus officia tempora unde atque nemo! Deserunt dolores ullam
                    ad, veniam unde, sunt cum adipisci laboriosam temporibus corporis, 
                    blanditiis at ratione nisi.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Temporibus officia tempora unde atque nemo! Deserunt dolores ullam
                    ad, veniam unde, sunt cum adipisci laboriosam temporibus corporis, 
                    blanditiis at ratione nisi.
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Statistiques</h3>
                </div>
                <div class="card-body mx-auto">
                    <img src="../../assets/customer-service.png" alt="" width="150px">
                </div>
            </div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Information</h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Temporibus officia tempora unde atque nemo! Deserunt dolores ullam
                    ad, veniam unde, sunt cum adipisci laboriosam temporibus corporis, 
                    blanditiis at ratione nisi.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Temporibus officia tempora unde atque nemo! Deserunt dolores ullam
                    ad, veniam unde, sunt cum adipisci laboriosam temporibus corporis, 
                    blanditiis at ratione nisi.
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Service Client</h3>
                </div>
                <div class="card-body mx-auto">
                    <img src="../../assets/customer-service.png" alt="" width="150px">
                </div>
            </div>
        </div>
    </div>
</div>

