<div class="container py-5">
    <div class="col-md-6 offset-3">
        <div class="card">
            <div class="card-header">
                <h6>Update Password :</h6>
            </div>
            <div class="card-body">
                <div class="text-danger mb-3" *ngIf="errorMessage">
                    <i class="bi bi-x-octagon-fill me-2"></i>
                    <span class="fw-medium">Error : {{errorMessage}}</span>
                </div>
                <div class="mb-3">
                    <label for="">Email : {{authService.email}}</label>
                </div>
                <form [formGroup]="formPassword" (ngSubmit)="handleUpdate()" class="mt-2">
                    <div class="mb-3">
                        <label for="" class="form-label">Old Password : </label>
                        <input type="password" class="form-control" formControlName="oldPassword">
                        <span class="text-danger mt-2" 
                            *ngIf="formPassword.controls['oldPassword'].errors && formPassword.controls['oldPassword'].touched">
                            {{customerService.getErrorMessage("Old Password",formPassword.controls['oldPassword'].errors)}}
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">New Password : </label>
                        <input type="password" class="form-control" formControlName="newPassword">
                        <span class="text-danger mt-2" 
                            *ngIf="formPassword.controls['newPassword'].errors && formPassword.controls['newPassword'].touched">
                            {{customerService.getErrorMessage("New Password",formPassword.controls['newPassword'].errors)}}
                        </span>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Confirm Password : </label>
                        <input type="password" class="form-control" formControlName="confirmPassword">
                        <span class="text-danger mt-2" 
                            *ngIf="formPassword.controls['confirmPassword'].errors && formPassword.controls['confirmPassword'].touched">
                            {{customerService.getErrorMessage("Confirm Password",formPassword.controls['confirmPassword'].errors)}}
                        </span>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!formPassword.valid">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
